body.horizontal-layout[data-color=bg-gradient-x-purple-blue] .content-wrapper-before, body.horizontal-layout[data-color=bg-gradient-x-purple-blue] .navbar-horizontal, body.vertical-layout[data-color=bg-gradient-x-purple-blue] .content-wrapper-before, body.vertical-layout[data-color=bg-gradient-x-purple-blue] .navbar-container {
    background-image: -webkit-gradient(linear,left top,right top,from(#B76DCB),to(#a20681));
    background-image: -webkit-linear-gradient(left,#B76DCB,#a20681);
    background-image: -moz-linear-gradient(left,#B76DCB,#a20681);
    background-image: -o-linear-gradient(left,#B76DCB,#a20681);
    background-image: linear-gradient(to right,#B76DCB,#a20681);
    background-repeat: repeat-x;
}

.btn-primary {
    color: #fff;
    background-color: #B76DCB;
    border-color: #B76DCB;
}

.bg-primary {
    background-color: #B76DCB !important;
}

.app-content.content{
    top: -20px;

}
.bg-header{
    background-color: #B76DCB;
}

.icon_in_list{
    font-size: 25px;
    margin-top: -6px;
    margin-right: 10px;
}