

/* Color de fondo de logo */
/*.topbar .topbar-left { 
    background-color: #274266;
}
*/
/* Color de fondo de left-bar*/
/*.side-menu.left {
    background: #274266;
}
*/
/* Color de fondo y color de texto de opción seleccionada left-bar*/
/*#sidebar-menu > ul > li > a.active {
    background: #1a2c44 !important;
    border-left: 3px solid #6faa41;
    color: #6faa41 !important;
}
*/
/* Color de opción desplegada left-bar */
/*#sidebar-menu .subdrop {
    color: #6faa41 !important;
}
*/
/* Color de texto de menú left-bar*/
/*#sidebar-menu > ul > li > a {
    color: #d6d6d6;
}
*/
/* Color de texto de menú onhover left-bar*/
/*#sidebar-menu > ul > li > a:hover {
  color: #c1ff90;
}
*/

/*body {
    background: #d3d9e0;
}
*/
/*html {
    background: #d3d9e0;
}

*/